[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce-Theme-Manager
Comment=
Terminal=false
Type=Application
Categories=Gnome;GTK;;Settings;DesktopSettings;X-XFCE;X-XFCE-SettingsDialog;
Icon=xfce4-settings
Exec=xfce-theme-manager
