[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce-Theme-Manager
Comment=
Terminal=false
Type=Application
Categories=Gnome;GTK;;Settings;DesktopSettings;X-XFCE;Settings;X-XFCE-SettingsDialog;
Exec=xfce-theme-manager
