[Desktop Entry]
Version=1.0
Name=Xfce-Theme-Manager
Comment=
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-XFCE;X-XFCE-SettingsDialog
Icon=xfce-theme-manager
Exec=xfce-theme-manager
